
@using CarSellApp.Models
@model IEnumerable<ManufacturerInfoViewModel>

@{
    ViewBag.Title = "Index";
}

<table>
	<caption>Manufacturers info</caption>
	<tr>
		<th>Code</th>
		<th>Name</th>
		<th>Max Pricde</th>
		<th>Min Price</th>
		<th>Models Cout</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Code</td>
			<td>@item.Name</td>
			<td>@item.MaxPricde.ToString("C")</td>
			<td>@item.MinPrice.ToString("C")</td>
			<td>@item.ModelsCout</td>
		</tr>
	}
</table>

<input type="button" title="Show cheap" value="Show cheap" onclick="location.href='@Url.Action("ShowCheap")'" />
