<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<ul id="menu">
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("Cars", "Index", "Car")</li>
		<li>@Html.ActionLink("Cars Info", "Index", "CarInfo")</li>
		<li>@Html.ActionLink("Manufacturers", "Index", "Manufacturer")</li>
		<li>@Html.ActionLink("Manufacturers Info", "Index", "ManufacturerInfo")</li>
	</ul>
	<section id="menu">
		<div>
			@RenderBody()
		</div>
	</section>
</body>
</html>
